body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.month {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: #fff; /* White background */
  flex: 0 0 calc(33.33% - 20px); /* Three columns with 20px gap */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
